<div [ngClass]="{'border-2 border-violet-700': isSelected && selectedPlanName === planType.name}"
  class="max-w-sm mx-auto bg-white rounded-lg overflow-hidden shadow-lg h-full px-4 py-8 relative">
  <ng-container *ngFor="let plan of planDetails">
    <ng-container *ngIf="plan.name === planType.name">
      <div class="px-4 pt-6">
        <span *ngIf="planType.name =='Pro Plus'"
          class="bg-violet-700 text-white px-5 py-2 tracking-widest text-xs absolute right-0 top-0 rounded-bl-lg">POPULAR</span>
        <h2 class="font-semibold mb-4 text-violet-700">{{planType.name}}</h2>
        <div class="flex items-baseline mb-2">
          <span *ngIf="isAnnual" class="text-gray-500 sem line-through text-md mr-2">${{plan.price * spacesPerPlan[plan.name]}}</span>
          <span class="text-3xl font-semibold">${{(isAnnual ? plan.discountPrice * spacesPerPlan[plan.name]  : plan.price * spacesPerPlan[plan.name]) | number:'1.2-2'}} </span>
          <span class="text-gray-500 ml-1">/mo</span>
        </div>
        <p *ngIf="isAnnual; else monthly" class="mb-4 font-medium text-sm">Billed ${{ (isAnnual ? plan.discountPrice * spacesPerPlan[plan.name] * 12 : plan.price * 12) | number:'1.0-2' }}/year</p>
        <ng-template #monthly>
          <p class="mb-4 font-medium text-xs">Save ${{ ((plan.price - plan.discountPrice) * spacesPerPlan[plan.name] ) | number:'1.0-2' }}/mo with annual billing</p>
        </ng-template>

        <hr class="mb-6" />

        <div class="mb-4">
          <p class="mb-2">Active Spaces</p>
          <div class="relative w-full mb-6">
            
            <div class="slider-container relative w-full"
            [ngClass]="{'pr-2 lg:pr-0': planType.spaces.length > 5, '': planType.spaces.length <= 5}"
             #sliderContainer>
              <span class="slider-value absolute border p-1 rounded-lg border-gray-200 shadow-sm">{{displayValue}}</span>
              <input type="range"
                class="w-full range accent-violet-700 cursor-ew-resize rounded-full bg-gray-200 disabled:cursor-not-allowed"
                [ngClass]="{'pl-0.5': planType.spaces.length > 5, 'pl-1': planType.spaces.length <= 5}"
                [min]="0"
                [max]="(planType.spaces.length || 1) - 1"
                [value]="sliderIndex"
                (input)="onSliderChange($event, sliderContainer)"/>
            </div>
            
            <div class="relative w-full text-xs text-gray-600 mt-1 overflow-visible">
              <div class="flex justify-between" [ngClass]="{'text-[0.7rem]': planType.spaces.length > 5}">
                <span 
                  *ngFor="let spaces of planType.spaces; let first = first; let last = last" 
                  class="text-center overflow-hidden text-ellipsis whitespace-nowrap"
                  [ngClass]="{
                    'text-left': first,
                    'text-right': last,
                    'flex-1 px-2 lg:p-0 -ml-2 -mr-0.5 lg:m-0': planType.spaces.length > 5,
                    'pl-2' : planType.spaces.length < 5,
                    'pl-1' : planType.spaces.length == 5
                  }"
                >
                  {{ spaces }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center mb-4 px-2">
          <svg class="w-5 h-5 text-cloudpano-blue mr-2" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
            </path>
          </svg>
          <div>
            <select name="users" class="text-sm border py-0.5 px-1 rounded-lg shadow-sm shadow-violet-300">
              <option [value]="plan.users">{{ plan.users }}</option>
            </select>
            <label for="users" class="text-sm ml-2">Users</label>
          </div>
        </div>

        <button [ngClass]="{'text-white bg-violet-700 border-violet-400': isSelected && planType.name === selectedPlanName, 'border-cloudpano-blue bg-white': planType.name !== selectedPlanName}"
          class="w-full  border-2 border-cloudpano-blue text-cloudpano-blue font-bold py-2 px-4 rounded-md mb-4" (click)="planSelected()">
          {{ isSelected && planType.name === selectedPlanName ? 'Selected' : 'Select' }}
        </button>

        <h3 class="font-semibold mb-2 px-2">
          <ng-container *ngIf="planType.name === 'Pro'; else checkProPlus">
            Top Features:
          </ng-container>
          <ng-template #checkProPlus>
            <ng-container *ngIf="planType.name === 'Pro Plus'; else enterprise">
              All Pro features, plus:
            </ng-container>
          </ng-template>
          <ng-template #enterprise>
            All Pro Plus features, plus:
          </ng-template>
        </h3>
        <ul class="list-disc list-inside ml-2 space-y-2">
          <li *ngFor="let feature of plan.features">
            {{ feature }}
          </li>
        </ul>
      </div>
    </ng-container>
  </ng-container>
</div>