<!-- Overlay -->
<div class="fixed inset-0 bg-black lg:hidden transition-opacity duration-300 ease-in-out"
     [ngClass]="{
       'opacity-60 z-30': isOpen,
       'opacity-0 -z-10': !isOpen
     }">
</div>

<div class="fixed bottom-0 left-0 right-0 lg:relative lg:bottom-auto lg:left-auto lg:right-auto z-40">
  <div class="w-full relative flex flex-row-reverse px-4 py-2">
    <button *ngIf="!isOpen" class="bg-violet-700 rounded-full text-white hover:bg-violet-400 duration-300 transition-colors border border-transparent p-3 lg:hidden right-4"
      [ngClass]="{
        'hidden': !shouldDisplayButton(),
        'bg-cloudpano-blue text-white hover:bg-cloudpano-blue focus:ring-4 focus:outline-none focus:ring-violet-200': shouldDisplayButton()
      }"
      (click)="continueCheckout()"
      [disabled]="!shouldDisplayButton()">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
        <path d="M24 12l-11-8v6h-13v4h13v6z" fill="white"/>
      </svg>
    </button>
  </div>
  <!-- Dropdown toggle button -->
  <button (click)="toggleDropdown()"
    class="relative z-40 max-h-fit flex items-center justify-between w-full p-2 py-4 text-sm text-gray-600 bg-white border border-transparent rounded-t-xl  lg:hidden">
    <h2 class="text-base font-bold"> <span class="mr-4 ml-2">🛒</span>Order summary ({{getTotalCartItemCount()}})</h2>
    <svg *ngIf="!isOpen" class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 8.287L5.99 14.297L7.403 15.712L12 11.112L16.596 15.712L18.01 14.298L12 8.287Z" fill="currentColor">
      </path>
    </svg>
    <svg *ngIf="isOpen" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 15.713L18.01 9.70299L16.597 8.28799L12 12.888L7.40399 8.28799L5.98999 9.70199L12 15.713Z"
        fill="currentColor" />
    </svg>
  </button>

  <!-- Dropdown menu -->
  <div class="lg:block" [ngClass]="{'hidden': !isOpen}">
    <div
      class="lg:static lg:w-auto lg:py-0 lg:mt-0 lg:bg-transparent lg:right-0 lg:z-0 w-full lg:bg-white lg:rounded-2xl shadow-sm"
      (clickOutside)="closeDropdown()">
      <!-- Dropdown content -->
      <div class="w-full lg:max-w-md mx-auto bg-white px-4 py-8 lg:rounded-lg shadow-md contain-content overflow-y-auto lg:overflow-auto"
      [ngClass]="{'': isOpen}"
        style="max-height: calc(100vh - 8rem);">
        <h2 class="text-base font-bold mb-4 hidden md:block">Order summary ({{getTotalCartItemCount()}})</h2>
        <div *ngIf="shoppingCart.length > 0">
          <ng-container *ngFor="let item of shoppingCart">
            <div class="mb-4">
              <div class="flex justify-between items-center mb-1">
                <ng-container *ngIf="item.type === 'subscription'; else checkCamera">
                  <span>{{ item.selectedPlan.name }}</span>
                </ng-container>

                <ng-template #checkCamera>
                  <ng-container *ngIf="item.type === 'camera'; else checkService">
                    <span>{{ item.selectedCamera.name }}</span>
                  </ng-container>
                </ng-template>

                <ng-template #checkService>
                  <ng-container *ngIf="item.type === 'capture-service'; else unknown">
                    <span>{{ item.selectedService.name }}</span>
                  </ng-container>
                </ng-template>

                <ng-template #unknown>
                  <span>Unknown item type</span>
                </ng-template>
                <div class="flex items-center space-x-2">
                  <span class="">
                    {{item.type === 'subscription' ?
                    (item.annual ? (getPrice(item) | currency) + '/yr' : (getPrice(item) | currency) + '/mo') :
                    (getPrice(item) | currency)}}
                  </span>
                  <span class="font-semibold cursor-pointer" (click)="removeFromCart(item)">×</span>
                </div>
              </div>
              <ng-container *ngIf="item.type === 'subscription'">
                <p class="text-xs text-gray-600 font-semibold">{{item.spaces}} Spaces, {{item.selectedPlan.users}} users
                </p>
                <p class="text-xs text-gray-600">Renews automatically on an {{item.annual ? 'annual' : 'monthly'}} basis
                </p>
              </ng-container>
              <ng-container *ngIf="item.type === 'camera'">
                <p class="text-xs text-gray-600 font-semibold">{{item.selectedCamera.reason}}</p>
                <p class="text-xs text-gray-600">Qty: {{item.quantity}}
              </ng-container>
              <ng-container *ngIf="item.type === 'capture-service'">
                <p class="text-xs text-gray-600 font-semibold">Levels: {{item.selectedService.levels}}</p>
                <p class="text-xs text-gray-600">Sq.Ft: {{item.selectedService.sqFeet}}
              </ng-container>
            </div>
          </ng-container>
          <hr class="mb-1 -ml-1">
          <div class="flex justify-between items-center mb-3">
            <h3 class="text-lg font-semibold">Today's total</h3>
            <span class="mr-4">{{totalBalance | currency}}</span>
          </div>
          <div *ngIf="productTotal > 0" class="flex justify-between items-center mb-1">
            <span class="text-sm">Product Total</span>
            <span class="mr-4">{{productTotal | currency}}</span>
          </div>
          <div *ngIf="subscriptionTotal > 0" class="flex justify-between items-center mb-4">
            <span class="text-sm">Subscription Total</span>
            <span class="mr-4">{{subscriptionTotal | currency}}</span>
          </div>
        </div>
        <div *ngIf="shoppingCart.length < 1" class="w-full flex justify-center items-center mt-8 mb-6">
          <p>Cart is Empty</p>
        </div>
        <button [ngClass]="{
    'bg-gray-200 text-gray-500': shoppingCart.length < 1 || (getCurrentUrl() === '/shop/cameras' && !hasCamera),
    'bg-cloudpano-blue text-white hover:bg-cloudpano-blue focus:ring-4 focus:outline-none focus:ring-violet-200': shoppingCart.length > 0 && (getCurrentUrl() !== '/shop/cameras' || hasCamera)
  }" class="w-full py-2 rounded-2xl mb-4 font-semibold" (click)="continueCheckout()"
          [disabled]="(getCurrentUrl() === '/shop/cameras' && !hasCamera) || shoppingCart.length < 1">
          <span *ngIf="checkout" class="mr-2">🔒</span>{{checkout ? 'Secure Checkout': 'Next'}}
        </button>
        <div *ngIf="shoppingCart.length > 0" class="flex items-center text-blue-600 mb-6 cursor-pointer">
          <span class="mr-2">+</span>
          <span>Add a promo code</span>
        </div>
        <div class="mb-6">
          <h4 class="font-semibold mb-2">Accepted payment methods</h4>
          <div class="flex flex-wrap gap-2">
            <img src="https://checkoutshopper-live.adyen.com/checkoutshopper/images/logos/visa.svg" alt="visa">
            <img src="https://checkoutshopper-live.adyen.com/checkoutshopper/images/logos/mc.svg" alt="mastercard">
            <img src="https://checkoutshopper-live.adyen.com/checkoutshopper/images/logos/applepay.svg" alt="apple pay">
            <img src="https://checkoutshopper-live.adyen.com/checkoutshopper/images/logos/googlepay.svg"
              alt="google pay">
          </div>
        </div>
        <div>
          <h4 class="font-semibold mb-2">Helpful links</h4>
          <ul class="text-blue-600">
            <li class="mb-1"><a href="#">Shipping information</a></li>
            <li><a href="#">Returns policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>