<footer class="bg-white">
  <div class="container px-6 py-12 mx-auto w-3/4">
    <div class="flex flex-col items-center justify-between sm:flex-row">
      <a>
        <img class="w-auto h-8" src="https://cdn.prod.website-files.com/5fa975f869ea6623c1de7eba/65fb34fa1d44220350de6757_logo_cloudpano_blueblack-p-500.png" alt="">
      </a>
    </div>

    <div class="grid grid-cols-2 gap-6 mt-12 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
      <div>
        <h3 class="text-sm font-medium text-gray-500">Product</h3>

        <div class="flex flex-col items-start mt-4 space-y-4">
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Overview</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Features</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Solutions</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Tutorials</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Pricing</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Releases</a>
        </div>
      </div>

      <div>
        <h3 class="text-sm font-medium text-gray-500">Company</h3>

        <div class="flex flex-col items-start mt-4 space-y-4">
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600 cursor-pointer">About us</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600 cursor-pointer">Careers</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600 cursor-pointer">Press</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600 cursor-pointer">News</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600 cursor-pointer">Media kit</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600 cursor-pointer">Contact</a>
        </div>
      </div>

      <div>
        <h3 class="text-sm font-medium text-gray-500">Resources</h3>

        <div class="flex flex-col items-start mt-4 space-y-4">
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Blog</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Newsletter</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Events</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Help center</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Tutorials</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Supports</a>
        </div>
      </div>

      <div>
        <h3 class="text-sm font-medium text-gray-500">Use cases</h3>

        <div class="flex flex-col items-start mt-4 space-y-4">
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Startups</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Enterprise</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Government</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Saas</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Marketplaces</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Ecommerce</a>
        </div>
      </div>

      <div>
        <h3 class="text-sm font-medium text-gray-500">Social</h3>

        <div class="flex flex-col items-start mt-4 space-y-4">
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Twitter</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">LinkedIn</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Github</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Facebook</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">AngelList</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Dribble</a>
        </div>
      </div>

      <div>
        <h3 class="text-sm font-medium text-gray-500">Legal</h3>

        <div class="flex flex-col items-start mt-4 space-y-4">
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Terms</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Privacy</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Cookies</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Licenses</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Settings</a>
          <a class="text-gray-700 transition-colors duration-200 hover:underline hover:text-blue-600">Contact</a>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 md:my-10">
    <div class="flex flex-col items-center justify-between sm:flex-row ">
      <p class="mt-4 text-sm text-gray-500 sm:mt-0">© Copyright 2023. All Rights Reserved.</p>
    </div>
  </div>
</footer>