<section class="text-gray-600 body-font overflow-hidden bg-transparent flex-col items-center">
  <div class="container px-5 pt-2 pb-24 mx-auto flex flex-col items-center">
    <div class="flex rounded-lg overflow-hidden bg-white mb-6 xl:w-1/6 md:w-1/4 w-full max-w-xs">
      <button [ngClass]="{'bg-cloudpano-blue text-white': !isAnnual}"
        class="w-1/2 py-2 px-4 focus:outline-none text-center rounded-l-xl" (click)="togglePricingMode('monthly')">
        Monthly
      </button>
      <button [ngClass]="{'bg-cloudpano-blue text-white': isAnnual}"
        class="w-1/2 py-2 px-4 focus:outline-none text-center rounded-r-xl" (click)="togglePricingMode('annual')">
        Annually
      </button>
    </div>
    <div>
      <p class="lg:w-full mx-auto leading-relaxed text-base text-center text-gray-500">Save up to 16% with annual billing</p>
      <p class="lg:w-full mx-auto leading-relaxed text-xs text-center text-gray-500">Plans renew automatically on an annual basis.
        Cancel anytime</p>
    </div>
    <div class="flex flex-wrap justify-center  w-full">
      <ng-container *ngFor="let plan of planDetails">
        <div class="p-2 xl:w-1/5 md:w-1/2 w-full">
          <app-price-card [planTypeName]="plan.name" />
        </div>
      </ng-container>
      <div class="p-4 xl:w-1/5 md:w-1/2 w-full">
        <app-cart />
      </div>
    </div>
  </div>
</section>