<div class="container px-5 pt-2 md:pt-10 mx-auto">
  <section class="text-gray-600 body-font bg-white rounded-lg overflow-hidden shadow-lg relative">
    <button 
      (click)="onClose()"
      class="absolute top-3 left-3 text-gray-500 hover:text-gray-700 focus:outline-none"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    <div class="container px-5 py-7 mx-auto">
      <div class="lg:w-full lg:px-9 mx-auto flex flex-wrap items-center">
        <div class="lg:w-1/2 w-full lg:flex lg:items-center">
          <img [alt]="camera.name" class="w-full h-60 lg:h-72 object-contain rounded"
            [src]="camera.url">
        </div>
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 text-center sm:text-left w-full">{{camera.name}}</h1>
          <div class="flex mb-4">
          </div>
          <p class="leading-relaxed text-sm font-medium">{{camera.description}}</p>
          <ul class="mt-4 space-y-1 text-sm mb-4">
            <li class="flex items-center text-xs" *ngFor="let feature of camera.features">
              <svg class="w-4 h-4 mr-2 text-green-500 flex-shrink-0" width="16" height="16" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
              </svg>
              {{feature}}
            </li>
          </ul>
          <div class="flex justify-between items-center">
            <div class="flex ">
              <span class="text-gray-900 text-3xl text-center font-medium mx-2">{{camera.price | currency}}</span>
            </div>
            <div>
              <button
                class="flex ml-auto text-white bg-cloudpano-blue border-0 py-2 px-8 focus:outline-none hover:bg-violet-700 rounded" 
                (click)="addToShoppingCart(camera)">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>